.container1{
	background-color: #D6EFD8;
	align-content: center;
	text-align: center;
	font-family: Imprint MT Shadow;
	font-size: 25px;
	border-style: dotted;
	border-color: #00712D;
	padding: 15px;
	margin: auto;
	width: 350px;
}
.Body{
	background-image: url(https://i.pinimg.com/736x/2f/fb/d9/2ffbd97b6beb5a1e615990a728f2192d.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.container2{
	background-color: #D6EFD8;
	border-style: dotted;
	border-color: #00712D;
	width: 350px;
	align-content: center;
	text-align: center;
	padding: 15px;
	margin: auto;

}

label {
	font-style: ;
	font-weight: ;
	font-family: ;
}

#Submit{
	background-color: #80AF81;
	color: ;
	border-radius: 10px;
	font-size: 20px;
}

#name{
	background-color: #AFE1AF;
}

#age{
	background-color: #AFE1AF;
}

#male{
	accent-color: #AFE1AF;
}

#female{
	accent-color: #AFE1AF;
}

#sections{
	background-color: #AFE1AF;
}

#clubs{
	background-color: #AFE1AF;
}

#why{
	background-color: #AFE1AF;
}